@model IEnumerable<ProductEntity>

<br />
<table class="table table-responsive table-light table-bordered" style="width:100%">
    <tr>
        <th>NameProduct</th>
        <th>DescriptionProduct</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NameProduct</td>
            <td>@item.DescriptionProduct</td>
            <td>@item.Price</td>
            <td>@item.Amount</td>
            <td>@(item.Price* item.Amount)</td>
        </tr>
    }
</table>
<br />
<p>
    <a asp-action="CheckOut" asp-controller="CheckOut">CheckOut</a>
</p>
 